.bgContainer {
    background-image: linear-gradient(rgba(5, 5, 33, 0.821), rgba(5, 5, 33, 0.821)), url(../images/image33.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
}